
@{
    ViewBag.Title = "Register";
}

<form>
    <h2>Register</h2>
    <p>Enter your information below to register your account</p>
    <hr />

    <label for="firstName">First Name</label><br />
    <input type="text" name="firstName" placeholder="Enter your first name" /><br />

    <label for="lastName">Last Name</label><br />
    <input type="text" name="lastName" placeholder="Enter your last name" /><br />

    <label for="email">Email Address</label><br />
    <input type="text" name="email" placeholder="Enter your email address" /><br />

    <label for="userName">Desired Login Name</label><br />
    <input type="text" name="userName" placeholder="Enter your desired username" /><br />

    <label for="password">Password</label><br />
    <input type="password" name="password" placeholder="Enter your Password" /><br />

    <label for="pronouns">Preferred Pronouns</label><br />
    <input type="radio" name="pronouns" placeholder="Select your pronouns" />He/Him<br />
    <input type="radio" name="pronouns" placeholder="Select your pronouns" />She/Her<br />
    <input type="radio" name="pronouns" placeholder="Select your pronouns" />They/Them<br />
    <input type="text" name="pronouns" placeholder="Enter your pronouns" />Other<br />

    <label for="birthday">Birthday</label><br />
    <input type="date" name="birthday" />

    <label for="color">Favorite color</label><br />
    <input type="text" name="color" placeholder="Enter a color" /><br />

    <button type="submit">Submit</button>

</form>